name: CI

on: [push]

jobs:

  vars:
    runs-on: ubuntu-latest

    outputs:
      experimentalScalaVersions: ""

    steps:
      - name: dummy
        run: echo dummy

  build:
    needs: vars
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        scalaVersion: ["2.13.7", "2.13.8", "2.13.9", "2.13.10", "2.13.11", "2.13.12", "2.13.13", "2.13.14"]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Compile
        run: ./dev/make-all.sh -PscalaVersion=${{matrix.scalaVersion}}

      - name: Pre-release on github
        uses: "marvinpinto/action-automatic-releases@latest"
        if: contains(github.ref_name, 'Release/')
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{github.ref_name}}-${{matrix.scalaVersion}}"
          title: "${{github.ref_name}}-${{matrix.scalaVersion}}"
          prerelease: true
          files: |
            LICENSE
            core/build/libs/*.jar

  test:
    needs: vars
    runs-on: ubuntu-latest

    #TODO: don't repeat yourself
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        scalaVersion: ["2.13.7", "2.13.8", "2.13.9", "2.13.10", "2.13.11", "2.13.12", "2.13.13", "2.13.14"]

    continue-on-error: ${{ contains(needs.vars.outputs.experimentalScalaVersions, matrix.scalaVersion) }}

    steps:
      - name: debug vars
        run: echo ${{ needs.vars.outputs.experimentalScalaVersions }}
      - name: debug expression
        run: echo ${{ job.continue-on-error }}
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      #         TODO: replica! how to remove?
      - name: Test
        run: ./dev/test.sh -PscalaVersion=${{matrix.scalaVersion}}
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: |
            **/test-results/test/*.xml
          check_name: |
            Test Report (${{matrix.scalaVersion}})
